<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      I've developed and mantained a RoR application for almost 3 years now, but I've never made an app from the ground app.
      This is that app.
    </p>
