
  <div class="our-view">
    <div class="container-medium clear"><div class="g--half">
      <h2 class="big our-view__title">Ricardo's app!</h2>
      </div>
    <div class="our-view__content g--half g--last">
      <div class="our-view__list-wrapper">
        <h3 class="our-view__subtitle"><%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %></h3>
        <p>This is the homepage for Ricardo's awesome 
          <a href="https://github.com/mejiaro/railsapp">app that's going to be kinda like Twitter.</a>
        </p>
        
      </div>
    </div>
  </div>
</div>
  

    
