<% provide(:title, "Home") %>
    <h1>Kinda like Twitter App!</h1>
    <p>This is the homepage for Ricardo's awesome 
      <a href="https://github.com/mejiaro/railsapp">app that's kinda like Twitter.</a>
    </p>
