  <header class="app-bar promote-layer">
    <div class="app-bar-container">
      <button class="menu"><%= link_to image_tag("hamburger.svg", alt: "Menu") %></button>
      <h1 class="logo"><%= full_title(yield(:title)) %></strong></h1>
      <section class="app-bar-actions">
      <!-- Put App Bar Buttons Here -->
      <!-- e.g <button><i class="icon icon-star"></i></button> -->
      </section>
    </div>
  </header>